vendor/
build
stubs
lang/vendor/*
node_modules/
npm-debug.log
yarn-error.log

public/js/*
public/css/*
public/storage
public/vendor
public/mix-manifest.json

storage/*.key

.env
.phpunit*
.idea
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
